* {
  margin: 0;
  padding: 0;
  outline: none;
}

*, *::before, *::after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;

  @include rwd(tablet) {
    font-size: 15px;
  }

  @include rwd(medium) {
    font-size: 14px;
  }
}

body {
  font-family: 'Mulish', sans-serif;

  //MORE THAN FULL HD SCREENS
  @media (min-width: 2200px) {
    body {
      margin: 0 auto;
      max-width: 1900px;
    }
  }
}